src/main/schema/xproc-baseline.rnc

# © Oxford University Press 2026

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

namespace b = "http://ns.oup.com/xproc/baseline"

start = (regression-tests | manifest.element)

regression-tests =
  element b:regression-tests {
    element b:imports {
      element b:import {
        attribute href { text }
      }+
    },
    element b:config { config.global & config.all },
    test+
  }
  
config.global =
  element b:test-harness {
    attribute href { xsd:anyURI }
  },
  element b:hash {
    attribute algorithm { "md" | "sha" | "crc" }
  }?
  
config.all =
  element b:canonicalization {
    attribute pipeline { xsd:NMTOKEN }
  }*
  
manifest = 
  manifest.element | 
  attribute manifest-href { xsd:anyURI }
  
manifest.element = element b:manifest { manifest.folder | manifest.zip | manifest.file }

manifest.folder = element b:folder {
  attribute name { text },
  ( manifest.folder | manifest.zip | manifest.file )*
}

manifest.file = element b:file{
  manifest.attributes,
  attribute size { text }?,
  attribute hash { text }?
}

manifest.zip = element b:archive{
  manifest.attributes,
  ( manifest.folder | manifest.zip | manifest.file )* 
}

manifest.attributes = (
  attribute name { text },
  attribute content-type { text }?,
  attribute compression-method { text }?
)

test =
  element b:test {
    attribute pipeline { xsd:NMTOKEN },
    attribute xml:id { xsd:NCName },
    element b:description { text },
    element b:config { config.all }?,
    element b:options {
      element b:option {
        attribute name { xsd:NCName },
        attribute select { text }
      }+
    }?,
    element b:input { empty }?,
    element b:baseline {
      attribute uri {xsd:anyURI},
      manifest?
    }
  }
